.logo {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 25px;
}

/*
font-family: 'Damion', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Leckerli One', cursive;

font-family: 'Marck Script', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Molle', cursive;
font-family: 'Raleway', sans-serif;

font-family: 'Satisfy', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oleo Script Swash Caps', cursive;

 */